<%= form_for @registration_class_status, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :acronym, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :acronym, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :is_approved, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :is_approved, :class => 'check_box' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                registration_class_statuses_path, :class => 'btn' %>
  </div>
<% end %>
