<script type="text/javascript">
      function selectAll(){
        $("input:checkbox").each(function(){
          $(this).attr('checked', true);
        });

        return false;
      }
      function unselectAll(){
        $("input:checkbox").each(function(){
          $(this).attr('checked', false);
        });

        return false;
      }
</script>

<%- model_class = ClassRecordPresence.new.class -%>
<div class="page-header">
  <h1><i class="icon-check"></i> <%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
 <h2><%= @class_record.try(:model_custom_name) %></h2>
<%if notice%>
<div id="error_explanation" class="alert alert-info">
 <p id="notice"><%= notice %></p>
</div>
<%end%>
<div class="form-actions">
	
<%= form_tag 'import', :method => :put, :action => 'import_registration_to_presence' do %>
<button type="submit" class="btn btn-success btn-large pull-right">
  <i class="icon-download-alt"></i> Importar Enturmação
</button>
<%end%>

<%= form_tag discipline_class_class_record_class_record_presences_path, :method => :put, :id => 'form_presence' do %>

<%= submit_tag "Salvar chamada",:class => 'btn btn-primary btn-large  pull-left' %>
<%= link_to "<i class='icon-undo'></i> ".html_safe + t('.back', :default => t("helpers.links.back")),
            discipline_class_class_records_path, :class => 'btn btn-large  pull-left' %>

</div>

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:is_present) %> (<a href="#" onclick="selectAll()">Marcar</a> / <a href="#" onclick="unselectAll()">Desmarcar</a> Todos)</th>
    </tr>
  </thead>
  <tbody>
	<%ct = 0 %>
    <% @class_record_presences.sort_by(&:model_student_name_whitout_accents).each do |class_record_presence| %>
      <tr>
        <td><%= ct += 1%></td>
        <td><h3><%= check_box_tag "class_record_presence_ids[]", class_record_presence.id, class_record_presence.is_present %>  <%= class_record_presence.model_student_name %></h3></td>

      </tr>
    <% end %>
  </tbody>
</table>
<% end %>



<div class="form-actions">
<%= submit_tag "Salvar chamada",:class => 'btn btn-primary btn-large' %>
<%= link_to "<i class='icon-undo'></i> ".html_safe + t('.back', :default => t("helpers.links.back")),
            discipline_class_class_records_path, :class => 'btn btn-large' %>
</div>