<% if @matrix_discipline.errors.any? %>
  <div id="error_explanation" class="alert alert-error">
    <h2><%= pluralize(@matrix_discipline.errors.count, "error") %> impediu a gravação:</h2>

    <ul>
    <% @matrix_discipline.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for ([@matrix, @matrix_discipline], :html => { :class => 'form-horizontal' }) do |f| %>
  <%matrix = CourseMatrix.find(params[:course_matrix_id])%>
  <h2>Matriz: <%= matrix.model_custom_name%></h2>
  <h2>Disciplina: <%= @matrix_discipline.discipline_name%></h2>

<%if (action_name == 'new' || action_name == 'create')%>
  <div class="control-group">
    <%= f.label :discipline_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select(:discipline_id, Discipline.where(:course_id => matrix.course_id), :id, :name, {:prompt => '...Selecionar...'}, {:class => 'span8'}) %>
    </div>
  </div>
<%end%>

  <div class="control-group">
    <%= f.label :matrix_discipline_group_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :matrix_discipline_group_id, MatrixDisciplineGroup.find(:all), :id, :description, :prompt => "...Selecione..." %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :maxseasons, :class => 'control-label' %>
    <div class="controls">
	  <% @seasons = [['...Selecione...', '']]
     	(1..@matrix.maxseasons).each {|s| @seasons << [[s], s]}
	   %>
      <%= f.select :maxseasons, options_for_select(@seasons, @matrix_discipline.maxseasons) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :isoptative, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :isoptative, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :isdependence, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :isdependence, :class => 'check_box' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                course_matrix_matrix_disciplines_path, :class => 'btn' %>
  </div>
<% end %>
