<%- model_class = MatrixDiscipline.new.class -%>
<div class="page-header">
  <h1><i class="icon-table"></i> <%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

	<h2>Matriz: <%= @matrix.model_custom_name %></h2>
<fieldset>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      
      <th><%= model_class.human_attribute_name(:discipline_id) %></th>
      <th><%= model_class.human_attribute_name(:pre_discipline_ids) %></th>
      <th><%= model_class.human_attribute_name(:matrix_discipline_group_id) %></th>
      <th><%= model_class.human_attribute_name(:maxseasons) %></th>
      <th><%= model_class.human_attribute_name(:isoptative) %></th>
      <th><%= model_class.human_attribute_name(:isdependence) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @matrix_disciplines.each do |matrix_discipline| %>
      <tr>
        <td><%= link_to matrix_discipline.id, [@matrix, matrix_discipline] %></td>
        <td><%= link_to matrix_discipline.discipline.try(:code) , [@matrix, matrix_discipline] %> - <%= link_to matrix_discipline.discipline.try(:name) , [@matrix, matrix_discipline]%></td>

        <td><%= h_link_to_prerequisites(matrix_discipline) %></td>

        <td><%= matrix_discipline.matrix_discipline_group.description %></td>
        <td><%= matrix_discipline.maxseasons %></td>
        <td><%= matrix_discipline.isoptative_description %></td>
        <td><%= matrix_discipline.isdependence_description %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_course_matrix_matrix_discipline_path(:id => matrix_discipline.id), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      [@matrix, matrix_discipline],
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => t("controller_message.delete_confirm"))),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</fieldset>
<%= link_to 'Incluir Disciplinas',
            new_course_matrix_matrix_discipline_path,
            :class => 'btn btn-primary' %>
