<%- model_class = @matrix_discipline.class -%>
<div class="page-header">
  <h1><i class="icon-table"></i> <%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:matrix_id) %>:</strong></dt>
  <dd><%= @matrix_discipline.matrix.model_custom_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:discipline_id) %>:</strong></dt>
  <dd><%= @matrix_discipline.discipline.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:matrix_discipline_group_id) %>:</strong></dt>
  <dd><%= @matrix_discipline.matrix_discipline_group.description%></dd>
  <dt><strong><%= model_class.human_attribute_name(:maxseasons) %>:</strong></dt>
  <dd><%= @matrix_discipline.maxseasons %></dd>
  <dt><strong><%= model_class.human_attribute_name(:isoptative) %>:</strong></dt>
  <dd><%= @matrix_discipline.isoptative %></dd>
  <dt><strong><%= model_class.human_attribute_name(:isdependence) %>:</strong></dt>
  <dd><%= @matrix_discipline.isdependence %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              matrix_matrix_disciplines_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_matrix_matrix_discipline_path, :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              matrix_matrix_discipline_path(params[:matrix_id]),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
