<%= form_for(@timetable_class_time) do |f| %>

  <div class="field">
    <%= f.label :timetable %><br />
    <%= f.text_field :timetable %>
  </div>
  <div class="field">
    <%= f.label :class_time %><br />
    <%= f.text_field :class_time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
