<h1>Listing timetable_class_times</h1>

<table>
  <tr>
    <th>Timetable</th>
    <th>Class time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @timetable_class_times.each do |timetable_class_time| %>
  <tr>
    <td><%= timetable_class_time.timetable %></td>
    <td><%= timetable_class_time.class_time %></td>
    <td><%= link_to 'Show', timetable_class_time %></td>
    <td><%= link_to 'Edit', edit_timetable_class_time_path(timetable_class_time) %></td>
    <td><%= link_to 'Destroy', timetable_class_time, :method => :delete, :data => { :confirm => t("controller_message.delete_confirm") } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Timetable class time', new_timetable_class_time_path %>
