<script type="text/javascript">
      function selectAll(){
        $("input:checkbox").each(function(){
          $(this).attr('checked', true);
        });

        return false;
      }
      function unselectAll(){
        $("input:checkbox").each(function(){
          $(this).attr('checked', false);
        });

        return false;
      }
</script>

<%- model_class = ClassRecordPresence.new.class -%>

<%= form_tag update_presences_by_date_discipline_class_class_records_path, :method => :put, :id => 'form_presence' do %>
<div class="page-header">
  <h1><i class="icon-check"></i> <%=t '.title', :default => model_class.model_name.human.pluralize %> - <%= @discipline_class.try(:discipline_name)%></h1>
  <h2>Curso: <%= @discipline_class.school_class.try(:model_course_matrix)%></h2>
  <h3>Turma: <%= @discipline_class.school_class.try(:identifier)%></h3>
  <%= hidden_field_tag :day, (params[:day] if params[:day]) %>
</div>






<div class="form-actions">	


<%= submit_tag "Salvar chamada",:class => 'btn btn-primary btn-large  pull-left' %>
<%= link_to "<i class='icon-undo'></i> ".html_safe + t('.back', :default => t("helpers.links.back")),
            discipline_class_class_records_path, :class => 'btn btn-large  pull-left' %>

</div>

<table class="table table-striped table-condensed">
  <thead>
    <tr>
	 <th>#</th>      
     <th>Aluno</th>
	<% @class_records.each do |class_record| %>
      <th><%= "<center>#{l(class_record.recorded_at)} <br/> #{class_record.class_time.model_custom_name}</center>".html_safe %></th>
    <%end%>
    </tr>
  </thead>
  <tbody>
	<%ct = 0%>
	<% @discipline_class.registration_classes.sort_by(&:model_student_name_whitout_accents).each do |rc| %>
	<%ct = ct + 1%>
      <tr>
  	    <td><%= "#{ ct }" %></td>
	    <td><%= "#{ rc.student_name }" %></td>
		<% @class_records.each do |class_record| %>
		<td><center><%= check_box_tag "class_record_presence_ids[#{class_record.id}][]", rc.id, ClassRecordPresence.find_by_class_record_id_and_registration_class_id(class_record.id, rc.id).try(:is_present) %></center></td>
	    <%end%>
	  </tr>
    <%end%>
  </tbody>
</table>

<% end %>