<%- model_class = Discipline.new.class -%>
<div class="page-header">
  <h1><i class="icon-book"></i> <%= @course.name%></h1>
  <h2><%=t '.title', :default => model_class.model_name.human.pluralize %></h2>
</div>
<%if notice%>
<div id="error_explanation" class="alert alert-info">
 <p id="notice"><%= notice %></p>
</div>
<%end%>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:code) %></th>
      <th><%= model_class.human_attribute_name(:discipline_type_id) %></th>
      <th><%= model_class.human_attribute_name(:dept_id) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @disciplines.each do |discipline| %>
      <tr>
        <td><%= link_to discipline.id, course_discipline_path( :id => discipline.id) %></td>
        <td><%= discipline.name %></td>
        <td><%= discipline.code %></td>
        <td><%= discipline.discipline_type.try(:description) %></td>
        <td><%= discipline.course.dept.try(:acronym) %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_course_discipline_path(:id => discipline.id), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      course_discipline_path(:id => discipline.id),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_course_discipline_path,
            :class => 'btn btn-primary' %>
