<%= form_for @dept_type, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :dept_type, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :dept_type, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                dept_types_path, :class => 'btn' %>
  </div>
<% end %>
