<%= form_for @person, :html => { :class => 'form-vertical' } do |f| %>

<div class="container">
<div class="container control-group span7">
<div class="well">
	<fieldset>
	<legend>Identificação</legend>
		
	   <div class="span5">
	   	<%= f.fields_for :person_identification_doc do |builder| %>
			<%= render "person_identification_doc_fields", :f => builder%>
		<%end%>	
	   	
	    <%= f.label :name_complete, :class => 'control-label' %>
	    <%= f.text_field :name, :class => 'text_field' %>
	
	    <%= f.label :race_id, :class => 'control-label' %>    
	    <%= f.select :race_id,  options_for_select(Race.all.map{|v| [v.race, v.id]}, :selected => (@person.race.id if !@person.race.blank?)), :include_blank => "...Selecione...", :class => 'select_field' %>
	
	    <%= f.label :gender_id, :class => 'control-label' %>    
	    <%= f.select :gender_id,  options_for_select(Gender.all.map{|v| [v.gender, v.id]}, :selected => (@person.gender.id if !@person.gender.blank?)), :include_blank => "...Selecione...", :class => 'select_field' %>
	
	    <%= f.label :education_degree_id, :class => 'control-label' %>    
	    <%= f.select :education_degree_id,  options_for_select(EducationDegree.all.map{|v| [v.degree, v.id]}, :selected => (@person.education_degree.id if !@person.education_degree.blank?)), :include_blank => "...Selecione...", :class => 'select_field' %>
	
	    <%= f.label :marital_status_id, :class => 'control-label' %>    
	    <%= f.select :marital_status_id,  options_for_select(MaritalStatus.all.map{|v| [v.status, v.id]}, :selected => (@person.marital_status.id if !@person.marital_status.blank?)), :include_blank => "...Selecione...", :class => 'select_field' %>
	
	   </div>
	   <div class="span5">
	   	<%= f.label :birth_date, :class => 'control-label' %>
	    <%= f.text_field :birth_date, :id => 'date_format', :style => "width:80px", :value => @person.birth_date.blank? ? nil : @person.birth_date.strftime("%d/%m/%Y") %>
	  
	    <%= f.label :email, :class => 'control-label' %>    
	    <%= f.text_field :email, :class => 'text_field' %>
	
	    <%= f.label :blood_type_id, :class => 'control-label' %>    
	    <%= f.select :blood_type_id,  options_for_select(BloodType.all.map{|v| [v.type, v.id]}, :selected => (@person.blood_type.id if !@person.blood_type.blank?)), :include_blank => "...Selecione...", :class => 'select_field' %>
	
	    <%= f.label :lattes_url, :class => 'control-label' %>    
	    <%= f.text_field :lattes_url, :class => 'text_field' %>
	
	    <%= f.label :number_children, :class => 'control-label' %>
	    <%= f.number_field :number_children, :class => 'number_field', :value => (@person.number_children.blank? ? 0 : @person.number_children) %>
	
	   </div>
	</fieldset>
</div>

<div class="well">
	<fieldset>
	  <legend>Filiação</legend>
	   <div class="span5">
	    <%= f.label :father_name, :class => 'control-label' %>
	    <%= f.text_field :father_name, :class => 'text_field' %>
	   </div>
	   <div class="span5">
	    <%= f.label :mom_name, :class => 'control-label' %>    
	    <%= f.text_field :mom_name, :class => 'text_field' 	%>
	   </div>
	</fieldset>
</div>
      
<div class="well">
<fieldset>
  <legend>Nacionalidade/Naturalidade</legend>

  <!-- País Cidade e Estado -->
  <%= f.label :country_id, :class => 'control-label' %>
  <div class="controls" id="addressCountry">
     <%= f.collection_select :country_id, Country.find(:all), :id, :name, :prompt => "Selecione o país" %>
  </div>
<div class="control-group">
  <%= f.label :state_id, :class => 'control-label' %>
  <div class="controls"  id="addressStates">
	 <%= f.collection_select :state_id, State.find(:all, :order => "name"), :id, :name, :prompt => "Selecione a UF" %>
  </div>
</div>
<div class="control-group">
  <%= f.label :city_id, :class => 'control-label' %>
  <div class="controls"  id="addressCities">
	  <%= f.collection_select :city_id, City.find(:all, :order => "name"), :id, :name, :prompt => "Selecione a Cidade" %>
  </div>
</div>
</div>
<!-- Fim -->

  <!-- Antes Aplicado

  <div class="span3">
    <%= f.label :country_id, :class => 'control-label' %>
    <%= f.collection_select :country_id, Country.find(:all), :id, :name, :prompt => "Select a Country" %>
  </div>
  <div class="span3">

    <%= f.label :state_id, :class => 'control-label' %>
    <div class="controls"  id="addressStates">
	   <%= render :partial => 'states'%>
    </div>
	<!--
   <%= f.label :state_id, :class => 'control-label' %>
   <%= f.select :state_id, [[State.find(7, :order=>:name).name,Country.find(24, :order=>:name).id]], :required=>true, :class => 'select_field' %>
    --<
  </div>

  <div class="span3">  

    <%= f.label :city_id, :class => 'control-label' %>
    <div class="controls"  id="addressCities">
	   <%= render :partial => 'cities'  %>	
    </div>
	<!--
   <%= f.label :city_id, :class => 'control-label' %>
   <%= f.select :city_id, [[City.find_by_name('Brasília', :order=>:name).name,Country.find(24, :order=>:name).id]], :required=>true, :class => 'select_field' %>

   </div>
 -->

<!-- Inicio Campos Para Telefone -->

<div class="well">
	<fieldset>
		<legend> Contato Telefone </legend>
			<%= f.fields_for :people_telephones do |builder| %>
				<%= render "people_telephone_fields", :f => builder%>
			<%end%>
		<span><%= link_to_add_fields "Adicionar Telefone", f, :people_telephones %></span>
	</fieldset>
</div>

<!-- Fim Campos Para Telefone -->
<!-- Inicio Campos Para Endereços -->

<div class="well">
	<fieldset>
		<legend> Endereço </legend>
			<%= f.fields_for :person_address_attributes, PersonAddress.new do |builder| %>
				<%= render "person_address_fields", :f => builder, :person => @person%>
			<%end%>
	</fieldset>
</div>

<!-- Fim Campos Para Endereços -->
<!-- Inicio Campos Para Documentos de Identificação 

<div class="container">
	<fieldset>
		<legend> Documentos Pessoais </legend>
			<%= f.fields_for :person_identification_doc do |builder| %>
				<%= render "person_identification_doc_fields", :f => builder%>
			<%end%>
	</fieldset>
</div>

<!-- Fim Campos Para Documentos de Identificação -->


<div class="well">
	<%= render "institutional_bond", :f => f, :person => @person%>
</div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('action.cancel', :default => t("helpers.links.cancel")), person_path(@person), :class => 'btn' %>
  </div>
</fieldset>
</div>
</div>
</div>
<% end %>


