<div class="fields">
    <span class="fields"><%= f.collection_select :telephone_type_id, TelephoneType.find(:all),:id, :telephone_type, :prompt => 'Escolha um tipo' %> (<%= f.text_field :area_code, :style => "width:30px" %>) <%= f.text_field :number, :style => "width:80px" %> Ramal: <%= f.text_field :branch, :style => "width:80px" %> <%= link_to_remove_fields "<span class=\"btn btn-danger btn-small\" style=\"text-decoration:none; margin-bottom:8px; color:#FFFFFF\";>Remover</span>".html_safe, f  %></span>
<div>
