<%= form_for [@person,@people_telephone], :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
      <h2><i class="icon-user"></i><%= Person.find(params[:person_id]).name %></h2><br />
      <%= f.hidden_field :person_id, :value => params[:person_id] %>
  </div>
  
  <div class="control-group">
    <%= f.label :telephone_type_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :telephone_type_id, TelephoneType.find(:all),:id, :telephone_type, :prompt => 'Escolha um tipo' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :area_code, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :area_code, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :number, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :number, :id => 'telephone' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :branch, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :branch, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                person_people_telephones_path, :class => 'btn' %>
  </div>
<% end %>