<%- model_class = @people_telephone.class -%>
<div class="page-header">
  <div style="font-size: 24px;">
    <h1><i class="icon-phone"></i> <%=t '.title', :default => model_class.model_name.human %></h1>
  </div>
   <h3><%= link_to @person.name, person_path(@person) %></h3>
</div>
<div class="container">
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:telephone_type_id) %>:</strong></dt>
  <dd><%= verifica_registro(:campo => @people_telephone.telephone_type, :atributo => "telephone_type") %></dd>
  <dt><strong><%= model_class.human_attribute_name(:area_code) %>:</strong></dt>
  <dd>(<%= verifica_registro(:campo => @people_telephone.area_code) %>)</dd>
  <dt><strong><%= model_class.human_attribute_name(:number) %>:</strong></dt>
  <dd><%= verifica_registro(:campo => @people_telephone.number) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:branch) %>:</strong></dt>
  <dd><%= verifica_registro(:campo => @people_telephone.branch) %></dd>
</dl>
</div>
<div class="form-actions">
  <div class="pagination-centered">
  <%= link_to "<i class='icon-undo'></i> ".html_safe + t('.back', :default => t("helpers.links.back")),
              person_people_telephones_path, :class => 'btn btn-large pull-left'  %>
  <%= link_to "<i class='icon-edit'></i> ".html_safe + t('.edit', :default => t("helpers.links.edit")),
              edit_person_people_telephone_path, :class => 'btn btn-large pull-left' %>


  <%= link_to "<i class='icon-trash'></i> ".html_safe + t('.destroy', :default => t("helpers.links.destroy")),
              person_people_telephone_path,
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => t("controller_message.delete_confirm"))),
              :class => 'btn btn-danger btn-large pull-right' %>
  </div>
</div>
