<%= form_for(@situation_teaching_equipament) do |f| %>
  <% if @situation_teaching_equipament.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@situation_teaching_equipament.errors.count, "error") %> prohibited this situation_teaching_equipament from being saved:</h2>

      <ul>
      <% @situation_teaching_equipament.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
