<%- model_class = @situation_teaching_equipament.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @situation_teaching_equipament.description %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              situation_teaching_equipaments_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_situation_teaching_equipament_path(@situation_teaching_equipament), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              situation_teaching_equipament_path(@situation_teaching_equipament),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
