<%= form_for(@precedence_school) do |f| %>
  <% if @precedence_school.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@precedence_school.errors.count, "error") %> prohibited this precedence_school from being saved:</h2>

      <ul>
      <% @precedence_school.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
