<h1>Listing discipline_class_exam_types</h1>

<table>
  <tr>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @discipline_class_exam_types.each do |discipline_class_exam_type| %>
  <tr>
    <td><%= discipline_class_exam_type.description %></td>
    <td><%= link_to 'Show', discipline_class_exam_type %></td>
    <td><%= link_to 'Edit', edit_discipline_class_exam_type_path(discipline_class_exam_type) %></td>
    <td><%= link_to 'Destroy', discipline_class_exam_type, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Discipline class exam type', new_discipline_class_exam_type_path %>
