<h2>Turma: <%=@discipline_class.school_class.identifier %> - <%=@discipline_class.course_name %></h2>
<h2>Componente: <%=@discipline_class.matrix_discipline.discipline_name %></h2>

<%= form_for [@discipline_class, @class_teaching], :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :user_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :user_id, User.all.sort_by(&:displayname), :id, :displayname, {:prompt => "...Selecione..."}, {:class => "span8"} %>
    </div>
  </div>

<!-- 
  <div class="control-group">
    <%= f.label :dept_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :dept_id, :class => 'number_field' %>
    </div>
  </div>
-->
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                discipline_class_class_teachings_path, :class => 'btn' %>
  </div>
<% end %>
