<%- model_class = DeptAddress.new.class -%>
<div class="page-header">
  <div style="font-size: 24px;">
    <h1><i class="icon-home"></i> <%=t '.title', :default => model_class.model_name.human %></h1>
  </div>
   <h2><i class="icon-sitemap"></i><%= link_to @dept.name, dept_path(@dept) %></h2>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:street_type_id) %></th>
      <th><%= model_class.human_attribute_name(:city_id) %></th>
      <th><%= model_class.human_attribute_name(:street_name) %></th>
      <th><%= model_class.human_attribute_name(:complement) %></th>
      <th><%= model_class.human_attribute_name(:post_office_box) %></th>
      <th><%= model_class.human_attribute_name(:neighborhood) %></th>
      <th><%= model_class.human_attribute_name(:zip_code) %></th>
      <th><%= model_class.human_attribute_name(:number) %></th>
      <th><%= model_class.human_attribute_name(:provenance_area_id) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @dept_addresses.each do |dept_address| %>
      <tr>
        <td><%= link_to dept_address.id, [@dept,dept_address] %></td>
        <td><%= verifica_registro(:campo => dept_address.street_type, :atributo => "description") %></td>
        <td><%= verifica_registro(:campo => dept_address.city, :atributo => "name") %></td>
        <td><%= verifica_registro(:campo => dept_address.street_name) %></td>
        <td><%= verifica_registro(:campo => dept_address.complement) %></td>
        <td><%= verifica_registro(:campo => dept_address.post_office_box) %></td>
        <td><%= verifica_registro(:campo => dept_address.neighborhood) %></td>
        <td><%= verifica_registro(:campo => dept_address.zip_code) %></td>
        <td><%= verifica_registro(:campo => dept_address.number) %></td>
        <td><%= verifica_registro(:campo => dept_address.provenance_area, :atributo => "description") %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_dept_dept_address_path(:id => dept_address), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      [@dept,dept_address],
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => t("controller_message.delete_confirm"))),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if !@dept_addresses.exists? %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_dept_dept_address_path,
            :class => 'btn btn-primary' %>
<% else %>
    <!-- <td><%= link_to 'Edit Dept Address', edit_dept_dept_address_path(@dept,@dept_addresses[0]) %></td> -->
<%end%>