<%- model_class = TechaxisType.new.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:techaxis_type) %></th>
      <th><%= model_class.human_attribute_name(:techaxis) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @techaxis_types.each do |techaxis_type| %>
      <tr>
        <td><%= link_to techaxis_type.id, techaxis_type_path(techaxis_type) %></td>
        <td><%= techaxis_type.techaxis_type %></td>
        <td>
          <%= link_to techaxis_type_techaxes_path(techaxis_type) do %>
            <% techaxes = Techaxis.where("techaxis_type_id = ?", techaxis_type.id)%>
            <i class="icon-globe"></i> <%= techaxes.count %>
          <%end%>
        </td>                
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_techaxis_type_path(techaxis_type), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      techaxis_type_path(techaxis_type),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => t("controller_message.delete_confirm"))),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_techaxis_type_path,
            :class => 'btn btn-primary' %>
