<%= form_for @matrix, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :started_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :started_at, :class => 'date_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ended_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :ended_at, :class => 'date_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :maxdisciplines, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :maxdisciplines, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :maxseasons, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :maxseasons, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :course_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :course_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :matrix_evaluation_type_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :matrix_evaluation_type_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :matrix_status_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :matrix_status_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :class_season_type_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :class_season_type_id, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                matrices_path, :class => 'btn' %>
  </div>
<% end %>
