<%- model_class = RegistrationClass -%>
<div class="row-fluid">
<div class="control-group span12">
	
<div class="page-header">
  <h1><i class="icon-group"></i> <%=t '.title', :default => model_class.model_name.human.pluralize %></h1> 
</div>
<% @registration_classes.sort_by(&:model_student_name_whitout_accents).group_by(&:school_class_identifier).each do |turma, classes| %>
<h2>Disciplina: <%= @discipline_class.try(:discipline_name)%></h2>
<h2>Turma: <%= turma%></h2>
<h2>Componente Curricular: <%= @discipline_class.try(:code)%></h2>
<h3>Vagas: <%= @discipline_class.try(:vacancies_left) %> de  <%= @discipline_class.try(:vacancies)%></h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:registration_id) %></th>
      <th><%= model_class.human_attribute_name(:registered_at) %></th>
      <th><%= model_class.human_attribute_name(:registration_class_status_id) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
      <%classes.each do |classe|%>
      <tr>
        <td><%= link_to classe.id, discipline_class_registration_class_path(:id => classe.id) %></td>
        <td><%= classe.registration.try(:student_name)%></td>
        <td><%=l classe.registered_at if classe.registered_at %></td>
        <td><%= classe.registration_class_status.try(:description) %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_discipline_class_registration_class_path(:id => classe.id), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      discipline_class_registration_class_path(:id => classe.id),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => t("controller_message.delete_confirm"))) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
     <%end%>
  </tbody>
</table>
<br/>
<% end %>

<h2>Matrícula(s) sem vínculo com este componente curricular.</h2>
<%= form_tag discipline_class_enturmacoes_path, :method => :put do %>
<div class="span6">
  <div class="well">
	<table class="table table-striped table-condensed">
	  <tbody>
	    <% @unregistrations.sort_by(&:model_student_name_whitout_accents).each do |unregistrated| %> 
	      <tr>
	        <td><h5><%= check_box_tag "discipline_class_registration_classe_ids[]", unregistrated.id %>  	 <%= unregistrated.registration_number %> - <%= unregistrated.student_name %></h5></td>

	      </tr>
	    <% end %>
	  </tbody>
	</table>
	  <%= submit_tag "Vincular Alunos ao Componente Curricular",:class => 'btn btn-primary btn-large  pull-left' %>
	<br/>
	
	<%end%>
  </div>
</div>

</div>
</div>
<div class="form-actions">
 <div class="pagination-centered">
	<%= link_to  "<i class='icon-undo'></i> ".html_safe + t('.back', :default => t("helpers.links.back")),
	discipline_class_path(@discipline_class), :class => 'btn btn-large pull-left'  %>
 </div>
</div>