 <%= form_for [@registration, @registration_class], :html => { :class => 'form-horizontal' } do |f| %>
   <h2>Aluno:  <%= @registration.try(:student_name) %></h2>
   <h2>Matrícula: <%= @registration.try(:registration_number) %> </h2>
   <h2>Curso: <%= @registration.try(:course_name) %> </h2>


   <div class="control-group">
     <%= f.label :registered_at, :class => 'control-label' %>
     <div class="controls">
      <%= f.date_select :registered_at, :class => 'date_select' %>
    </div>
   </div>

  <div class="control-group">
    <%= f.label :registration_class_status_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :registration_class_status_id, RegistrationClassStatus.find(:all), :id, :description, :prompt => "Situação" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :discipline_class_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :discipline_class_id, @registration.course_matrix.school_classes, :id, :model_identifier_and_period, :prompt => "Classe" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :discipline_class_id, :class => 'control-label' %>
    <div class="controls">
	 <select name="registration_class[discipline_class_id]" class="span8">
		<option value="">Classe</option>
		<% @registration.course_matrix.school_classes.each do |turmas|%>
          <optgroup label="<%= turmas.model_identifier_and_period%>">
	         <% turmas.discipline_classes do |classe|%>
	          <option value="<%= classe.id.to_s%>"><%= classe.code %> - <%= classe.discipline_name%></option>
		     <% end %>
	      </optgroup>
		<% end %>
	 </select>
    </div>
  </div>



  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>

   
   <!-- Link caso venha de matrícula -->
   <% unless @registration.blank? %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                registration_registration_classes_path, :class => 'btn' %>
   <% end %>

  </div>

<% end %>
