 <%= form_for [@discipline_class, @registration_class], :html => { :class => 'form-horizontal' } do |f| %>

   <h2>Aluno: <%= @registration_class.registration.try(:registration_number) %> - <%= @registration_class.registration.try(:student_name) %> </h2>
   <h5>Classe: <%= @registration_class.discipline_class.try(:model_custom_name) %></h5>

  <div class="control-group">
    <%= f.label :registered_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :registered_at, :class => 'datepicker_class', :include_blank => true, :style => "width:80px", :value => @registration.registered_at.blank? ? nil : @registration.registered_at.strftime("%d.%m.%Y") %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :registration_class_status_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :registration_class_status_id, RegistrationClassStatus.find(:all), :id, :description, :prompt => "Situação" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :endnote_council_class, :class => 'control-label' %>
    <div class="controls">
     <%= f.number_field :endnote_council_class, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>

   <!-- Link caso venha de classe -->
   <% unless @discipline_class.blank? %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                discipline_class_registration_classes_path, :class => 'btn' %>
   <% end %>

  </div>

<% end %>
