<%= form_for(@telephone_type) do |f| %>
  <% if @telephone_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@telephone_type.errors.count, "error") %> prohibited this telephone_type from being saved:</h2>

      <ul>
      <% @telephone_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :telephone_type %><br />
    <%= f.text_field :telephone_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
