<%= form_for @state, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :acronym, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :acronym, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :country_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :country_id, Country.find(:all), :id, :name %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                states_path, :class => 'btn' %>
  </div>
<% end %>
