<% if @state.errors.any? %>
  <div id="error_explanation" class="alert alert-error">
    <h2><%= pluralize(@state.errors.count, "error impediu", "errors impediram") %> impediu a gravação:</h2>

    <ul>
    <% @state.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_for ([@country, @state], :html => { :class => 'form-horizontal' }) do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :acronym, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :acronym, :class => 'text_field' %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                country_states_path, :class => 'btn' %>
  </div>
<% end %>
