<%- model_class = @registration.class -%>
<%= form_for [@person, @registration], :html => { :class => 'form-horizontal' } do |f| %>
<%@tabindex=0%> <!--Variavel q define as tabindex automaticamente de forma sequencial-->

  <div class="control-group">
    <%= f.label :registration_at, :class => 'control-label' %>
    <div class="controls">
	   <%= f.text_field :registration_at, :class => "datepicker_class", :include_blank => true, :tabindex => "#{@tabindex = @tabindex+1}", :style => "width:80px", :value => @registration.registration_at.blank? ? nil : @registration.registration_at.strftime("%d/%m/%Y") %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :course_matrix_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.grouped_collection_select :course_matrix_id, Course.order(:name), :course_matrices, :name, :id, :model_custom_name,{}, :prompt => "...Selecione...", :tabindex => "#{@tabindex = @tabindex+1}" %>
    </div>
  </div>
<!-- Retirado essa opção pois a matrícula somente será realizada após a consulta do aluno
  <div class="control-group">
    <%= f.label :person_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :person_id, :class => 'number_field' %>
    </div>
  </div>
-->
  <div class="control-group">
    <%= f.label :registration_number, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :registration_number, :class => 'text_field', :tabindex => "#{@tabindex = @tabindex+1}", :disabled => true, :placeholder => "criado pelo sistema" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :registration_status_id, :class => 'control-label' %>
    <div class="controls">
     <%= f.collection_select :registration_status_id, RegistrationStatus.find(:all), :id, :description, {:prompt => "...Selecione..."}, :tabindex => "#{@tabindex = @tabindex+1}" %> <!-- 7 = Matriculado -->
    </div>
  </div>
  
  <div class="well">
	<fieldset>
  	<legend>Tipo de Ingresso</legend>
   	<div class="span12">
   		<div class="pull-left span5">
	    <%= f.fields_for :admission_type_ids do |at| %>
	        <div class="right_box">
	          <% AdmissionType.all.each do |admission_type| %>
	                  <%= (at.check_box [], {:checked=> @registration.admission_types.include?(admission_type), :tabindex => "#{@tabindex = @tabindex+1}" }, admission_type.id, nil) %>
	                  <%= admission_type.description %><br/>
	          <% end %>
	        </div>
	    <% end %>
	    </div>
	    <div class="pull-right span5">
	    	Forma de Ingresso: <%= f.collection_select :ways_of_admission_id, WaysOfAdmission.all, :id, :description, {:prompt => "...Select..."}, :tabindex => "#{@tabindex = @tabindex+1}"%>
	   	</div>
	</div>
	</fieldset>
  </div>

  <!-- Dados Pessoais-->  
  <div class="well">
	<fieldset>
	  <legend>Dados Pessoais</legend>
	   <div class="span12">
	   	<div class="pull-left span5">
	   		<div class="control-group">
		   	  <%= f.label :have_work, :class => 'control-label' %>
			   <div class="controls">
			 	  <%= f.radio_button :have_work, true, :tabindex => "#{@tabindex = @tabindex+1}"  %> Sim  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		   		  <%= f.radio_button :have_work, false, :tabindex => "#{@tabindex = @tabindex+1}"  %> Não
		       </div>
	   	    </div>
	   	    <div class="control-group">
		   	  <%= f.label :occupation, :class => 'control-label' %>
			   <div class="controls">
			 	  <%= f.text_field :occupation, :tabindex => "#{@tabindex = @tabindex+1}" %>
		       </div>
	   	    </div>
	   	    <div class="control-group">
		   	  <%= f.label :workplace, :class => 'control-label' %>
			   <div class="controls">
			 	  <%= f.text_field :workplace, :tabindex => "#{@tabindex = @tabindex+1}" %>
		       </div>
	   	    </div>
	   	</div>
	   	<div class="pull-right span5">
	   		<div class="control-group">
			   	  <%= f.label :family_income, :class => 'control-label' %>
			   <div class="controls">
			 	  <%= f.text_field :family_income, :tabindex => "#{@tabindex = @tabindex+1}" %>
		       </div>
		    </div>
		    <div class="control-group">
		       	  <%= f.label :how_many_live, :class => 'control-label' %>
			   <div class="controls">
			 	  <%= f.text_field :how_many_live, :tabindex => "#{@tabindex = @tabindex+1}" %>
		       </div>
	   	    </div>
	   </div>
	 </fieldset>
   </div>
  
  <!-- Dados do Responsável-->  
  <div class="well">
	<fieldset>
	  <legend>Dados do Responsável</legend>
	   <div class="span12">
	   	<div class="pull-left span5">
	   		<div class="control-group">
		   	  <%= f.label :responsible_complete_name, :class => 'control-label' %>
			   <div class="controls">
			 	  <%= f.text_field :responsible_complete_name, :tabindex => "#{@tabindex = @tabindex+1}" %>
		       </div>
	   	    </div>
	   	    <div class="control-group">
		   	  <%= f.label :responsible_cpf, :class => 'control-label' %>
			   <div class="controls">
			 	  <%= f.text_field :responsible_cpf, :tabindex => "#{@tabindex = @tabindex+1}" %>
		       </div>
	   	    </div>
	   	    <div class="control-group">
		   	  <%= f.label :responsible_kinship, :class => 'control-label' %>
			   <div class="controls">
			 	  <%= f.text_field :responsible_kinship, :tabindex => "#{@tabindex = @tabindex+1}" %>
		       </div>
	   	    </div>
	   	    <div class="control-group">
		   	  <%= f.label :responsible_address, :class => 'control-label' %>
			   <div class="controls">
			 	  <%= f.text_field :responsible_address, :tabindex => "#{@tabindex = @tabindex+1}" %>
		       </div>
	   	    </div>
	   	    <div class="control-group">
		   	  <%= f.label :responsible_cep, :class => 'control-label' %>
			   <div class="controls">
			 	  <%= f.text_field :responsible_cep, :tabindex => "#{@tabindex = @tabindex+1}" %>
		       </div>
	   	    </div>
	   		<div class="control-group">
		   	  <%= f.label :responsible_have_work, :class => 'control-label' %>
			   <div class="controls">
			 	  <%= f.radio_button :responsible_have_work, true, :tabindex => "#{@tabindex = @tabindex+1}"  %> Sim &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		   		  <%= f.radio_button :responsible_have_work, false, :tabindex => "#{@tabindex = @tabindex+1}"  %> Não
		       </div>
	   	    </div>
	   	</div>
	   	<div class="pull-right span5">
	   		<div class="control-group">
		   	  <%= f.label :responsible_occupation, :class => 'control-label' %>
			   <div class="controls">
			 	  <%= f.text_field :responsible_occupation, :tabindex => "#{@tabindex = @tabindex+1}" %>
		       </div>
	   	    </div>
	   	    <div class="control-group">
		   	  <%= f.label :responsible_workplace, :class => 'control-label' %>
			   <div class="controls">
			 	  <%= f.text_field :responsible_workplace, :tabindex => "#{@tabindex = @tabindex+1}" %>
		       </div>
	   	    </div>
	   	    <div class="control-group">
		   	  <%= f.label :responsible_workphone, :class => 'control-label' %>
			   <div class="controls">
			 	  <%= f.text_field :responsible_workphone, :tabindex => "#{@tabindex = @tabindex+1}" %>
		       </div>
	   	    </div>
	   	    <div class="control-group">
		   	  <%= f.label :responsible_telephone, :class => 'control-label' %>
			   <div class="controls">
			 	  <%= f.text_field :responsible_telephone, :tabindex => "#{@tabindex = @tabindex+1}" %>
		       </div>
	   	    </div>
	   	    <div class="control-group">
		   	  <%= f.label :responsible_schooling, :class => 'control-label' %>
			   <div class="controls">
			 	  <%= f.text_field :responsible_schooling, :tabindex => "#{@tabindex = @tabindex+1}" %>
		       </div>
	   	    </div>
	   	    <div class="control-group">
		   	  <%= f.label :responsible_email, :class => 'control-label' %>
			   <div class="controls">
			 	  <%= f.text_field :responsible_email, :tabindex => "#{@tabindex = @tabindex+1}" %>
		       </div>
	   	    </div>
	   </div>
	</fieldset>
  </div>
  
  <!-- Dados Sobre a Saúde-->
  <div class="well">
	<fieldset>
	  <legend>Dados Sobre a Saúde</legend>
	   <div class="span12">
	   	<div class="pull-left span5">
	   		<div class="control-group">
		   	  <%= f.label :presents_special_need, :class => 'control-label' %>
			   <div class="controls">
			 	  <%= f.radio_button :presents_special_need, true, :tabindex => "#{@tabindex = @tabindex+1}"  %> Sim &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		   		  <%= f.radio_button :presents_special_need, false, :tabindex => "#{@tabindex = @tabindex+1}"  %> Não
		       </div>
	   	    </div>
	   	    <div class="control-group">
		   	  <%= f.label :special_need_description, :class => 'control-label' %>
			   <div class="controls">
			 	  <%= f.text_field :special_need_description, :tabindex => "#{@tabindex = @tabindex+1}" %>
		       </div>
	   	    </div>
	   	</div>
	   	<div class="pull-right span5">
	   		<div class="control-group">
		   	  <%= f.label :presents_health_problem, :class => 'control-label' %>
			   <div class="controls">
			 	  <%= f.radio_button :presents_health_problem, true, :tabindex => "#{@tabindex = @tabindex+1}"  %> Sim &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		   		  <%= f.radio_button :presents_health_problem, false, :tabindex => "#{@tabindex = @tabindex+1}"  %> Não
		       </div>
	   	    </div>
	   	    <div class="control-group">
		   	  <%= f.label :health_problem_description, :class => 'control-label' %>
			   <div class="controls">
			 	  <%= f.text_field :health_problem_description, :tabindex => "#{@tabindex = @tabindex+1}" %>
		       </div>
	   	    </div>
	   </div>
	</fieldset>
  </div>
  
  
  <!-- Dados Escolaridade do Aluno-->   
  <div class="well">
	<fieldset>
	  <legend>Dados Escolaridade do Aluno</legend>
	   <div class="span12">
	   	<div class="pull-left span5">
	   	    <div class="control-group">
		   	  <%= f.label :is_attending_scholl_level, :class => 'control-label' %>
			   <div class="controls">
			 	  <%= f.radio_button :is_attending_scholl_level, true, :tabindex => "#{@tabindex = @tabindex+1}"  %> Sim &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		   		  <%= f.radio_button :is_attending_scholl_level, false, :tabindex => "#{@tabindex = @tabindex+1}"  %> Não
		       </div>
	   	    </div>
	   	    <div class="control-group">
		   	  <%= f.label :attending_scholl_level_description, :class => 'control-label' %>
			   <div class="controls">
			 	  <%= f.text_field :attending_scholl_level_description, :tabindex => "#{@tabindex = @tabindex+1}" %>
		       </div>
	   	    </div>
	   	    <div class="control-group">
		   	  <%= f.check_box :dont_take_another_vacance_public_institution, {:tabindex => "#{@tabindex = @tabindex+1}"}, true, false%> &nbsp; Declaro que não ocupo outra vaga, na condição de estudante, em nenhuma instituição pública de ensino superior em todo território nacional, estando em conformidade com a lei 12.089 de 11 de novembro de 2009.
	   	    </div>
	   	    <div class="control-group">
		   	  <%= f.check_box :dont_take_another_prouni_vacance_public_institution, {:tabindex => "#{@tabindex = @tabindex+1}"}, true, false%> &nbsp; Declaro que não ocupo outra vaga, na condição de estudante, em outra instituição de ensino superior como bolsista do PROUNI, estando em conformidade com o Decreto 5493 de 19 de julho de 2005.
	   	    </div>
	   	</div>
	   	<div class="pull-right span5">
	   		<div class="control-group">
		   	  <%= f.label :precedence_school_id, :class => 'control-label' %>
			   <div class="controls">
			 	  <%= f.collection_select :precedence_school_id, PrecedenceSchool.all, :id, :description, {:prompt => "...Selecione..."}, :tabindex => "#{@tabindex = @tabindex+1}"%>
		       </div>
	   	    </div>
	   	    <div class="control-group">
		   	  <%= f.label :parent_institution, :class => 'control-label' %>
			   <div class="controls">
			 	  <%= f.text_field :parent_institution, :tabindex => "#{@tabindex = @tabindex+1}" %>
		       </div>
	   	    </div>
	   	    <div class="control-group">
		   	  <%= f.label :year_completion, :class => 'control-label' %>
			   <div class="controls">
			 	  <%= f.text_field :year_completion, :tabindex => "#{@tabindex = @tabindex+1}" %>
		       </div>
	   	    </div>
	   	    <div class="control-group">
		   	  <%= f.label :education_degree, :class => 'control-label' %>
			   <div class="controls">
			 	  <%= select_tag "person[education_degree_id]", options_from_collection_for_select(EducationDegree.all, "id", "degree", :selected => (@registration.person.education_degree_id if !@registration.person.try(:education_degree_id).blank?)), :prompt => "...Selecione...", :tabindex => "#{@tabindex = @tabindex+1}" %>
			   </div>
	   	    </div>
	   	    
	   </div>
	</fieldset>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                registrations_path, :class => 'btn' %>
  </div>
<% end %>