<%= form_for @course_vacancy, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :course_id, :class => 'control-label' %>
    <div class="controls">
     <%= f.collection_select :course_id, Course.find(:all, :order => :name), :id, :name, :prompt => "...Selecione..." %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :class_season_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :class_season_id, ClassSeason.find(:all), :id, :model_custom_name, :prompt => "...Selecione..." %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :shift_type_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :shift_type_id, ShiftType.find(:all), :id, :description, :prompt => "...Selecione..." %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :number_vacancies, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :number_vacancies, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                course_vacancies_path, :class => 'btn' %>
  </div>
<% end %>
