<%- model_class = CourseVacancy.new.class -%>
<div class="page-header">
  <h1><i class="icon-bullhorn"></i><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:course_id) %></th>
      <th><%= model_class.human_attribute_name(:class_season_id) %></th>
      <th><%= model_class.human_attribute_name(:shift_type_id) %></th>
      <th><%= model_class.human_attribute_name(:number_vacancies) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @course_vacancies.each do |course_vacancy| %>
      <tr>
        <td><%= link_to course_vacancy.id, course_vacancy_path(course_vacancy) %></td>
        <td><%= course_vacancy.course.try(:name) %></td>
        <td><%= course_vacancy.class_season.try(:model_custom_name) %></td>
        <td><%= course_vacancy.shift_type.try(:description) %></td>
        <td><%= course_vacancy.number_vacancies %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_course_vacancy_path(course_vacancy), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      course_vacancy_path(course_vacancy),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => t("controller_message.delete_confirm"))),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_course_vacancy_path,
            :class => 'btn btn-primary' %>
