<%= form_for @academic_rule, :html => { :class => 'form-horizontal' } do |f| %>

  <div class="control-group">
	<%= f.label :education_modality_id, :class => 'control-label' %>
	<div class="controls">
	  <%= f.collection_select :education_modality_id, EducationModality.find(:all, :order => :description), :id, :description, :prompt => "Selecione"%>
	</div>
   </div>

  <div class="control-group">
    <%= f.label :academic_rule_type_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :academic_rule_type_id, AcademicRuleType.find(:all, :order => :rule), :id, :rule, :prompt => "Selecione"%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :operator, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :operator, AcademicRule::OPERATOR_TYPES%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :value, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :value, :class => 'number_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :rclass_status_true_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :rclass_status_true_id, RegistrationClassStatus.where(:is_approved => true), :id, :description, :prompt => "Selecione"%>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :rclass_status_false_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :rclass_status_false_id, RegistrationClassStatus.where(:is_approved => false), :id, :description, :prompt => "Selecione"%>
    </div>
  </div>


  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                academic_rules_path, :class => 'btn' %>
  </div>
<% end %>
