<%- model_class = Dept -%>
<div class="page-header">
  <div style="font-size: 24px;">
    <h1><i class="icon-sitemap"></i> <%=t '.title', :default => model_class.model_name.human %>
		<%= form_tag depts_path, :method => :get, :class => 'form-search pull-right' do %>
		    <%= text_field_tag :search, params[:search], :placeholder => "Pesquisar...", :class => 'search-query' %>
			<button type="submit" class="btn">
			  <i class='icon-search'></i> Ok
			</button>
		<% end %>
	</h1>
  </div>
</div>

<% @dept_roots = Dept.find_by_sql("select * from depts where dept_id is null") %>
<br/>
<%= nested_depts(@dept_roots) %>
<br/>
<div class="css-treeview">
<% for dept in @dept_roots %>	
 <ul>
 <li><input type="checkbox" id="item-0" />
     <label for="item-0">
  	   <%= dept.name%> 
       <%= link_to "<i class='icon-play'></i>".html_safe, :action => 'show', :id => dept %> 
       <%= link_to "<i class='icon-edit'></i>".html_safe, :action => 'edit', :id => dept %> 
     </label>
 <% @dept_nodes = Dept.find_by_sql("select * from depts where dept_id = #{dept.id}") %>
	<ul>
 <% for no in @dept_nodes %>
		<li>
			<input type="checkbox" id="item-0-0" />
			 <label for="item-0-0"><%= no.name%>
				<%= link_to "<i class='icon-play'></i>".html_safe, :action => 'show', :id => no %> 
 		        <%= link_to "<i class='icon-edit'></i>".html_safe, :action => 'edit', :id => no %>
			 </label>
			 <% @dept_subnodes = Dept.find_by_sql("select * from depts where dept_id = #{no.id}") %>
			<ul>
				 <% for subno in @dept_subnodes %>
				  <li>
					<input type="checkbox" id="item-0-0-0" /><label for="item-0-0-0"><%= subno.name%></label>
		            <%= link_to "<i class='icon-play'></i>".html_safe, :action => 'show', :id => subno %>
 			        <%= link_to "<i class='icon-edit'></i>".html_safe, :action => 'edit', :id => subno %>
				  </li>
				 <%end%>
			</ul>
		</li>
 <%end%>
	</ul>
 </li>
 </ul>
<% end %>
</div>


<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:acronym) %></th>
      <th><%= model_class.human_attribute_name(:dept_type_id) %></th>
      <th><%= model_class.human_attribute_name(:dept_id) %></th>
      <th><%= model_class.human_attribute_name(:dept_telephones) %></th>
      <th><%= model_class.human_attribute_name(:dept_addresses) %></th>
      <th><%= model_class.human_attribute_name(:teaching_equipaments) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @depts.each do |dept| %>
      <tr>
        <td><%= link_to dept.id, dept_path(dept) %></td>
        <td><%= dept.name %></td>
        <td><%= dept.acronym %></td>
        <td><%= dept.dept_type.try(:dept_type) %></td>
        <td><%= dept.dept.try(:acronym) %></td>
        <td>
          <%= link_to dept_dept_telephones_path(dept) do %>
            <% telephones = DeptTelephone.where("dept_id = ?", dept.id)%>
            <i class="icon-phone"></i> <%= telephones.count %>
          <%end%>
        </td>
        <td>
          <%= link_to dept_dept_addresses_path(dept) do %>
            <!-- <% address = DeptAddress.where("dept_id = ?", dept.id) %> -->
            <i class="icon-home"></i>
          <%end%>
        </td>
        <td>
          <%= link_to dept_teaching_equipaments_path(dept) do%>
              <% equipaments = TeachingEquipament.where("dept_id = ?", dept.id)%>
              <i class="icon-hdd"></i> <%= equipaments.count %>
          <%end%>
        </td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_dept_path(dept), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      dept_path(dept),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => t("controller_message.delete_confirm"))),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<center><%= will_paginate @depts %></center>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_dept_path,
            :class => 'btn btn-primary' %>