<%- model_class = Dept -%>
<div class="page-header">
  <div style="font-size: 24px;">
    <h1><i class="icon-sitemap"></i> <%=t '.title', :default => model_class.model_name.human %></h1>
  </div>
</div>
<div class="container">
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= verifica_registro :campo => @dept.name, :mensagem => "<<Sem Registro>>"%></dd>
  <dt><strong><%= model_class.human_attribute_name(:acronym) %>:</strong></dt>
  <dd><%= verifica_registro :campo => @dept.acronym, :mensagem => "<<Sem Registro>>"%></dd>
  <dt><strong><%= model_class.human_attribute_name(:cnpj) %>:</strong></dt>
  <dd><%= verifica_registro :campo => @dept.cnpj, :mensagem => "<<Sem Registro>>"%></dd>
  <dt><strong><%= model_class.human_attribute_name(:started_at) %>:</strong></dt>
  <dd><%= verifica_registro :campo => @dept.started_at, :mensagem => "<<Sem Registro>>"%></dd>
  <dt><strong><%= model_class.human_attribute_name(:finished_at) %>:</strong></dt>
  <dd><%= verifica_registro :campo => @dept.finished_at, :mensagem => "<<Sem Registro>>"%></dd>
  <dt><strong><%= model_class.human_attribute_name(:site) %>:</strong></dt>
  <dd><%= verifica_registro :campo => @dept.site, :mensagem => "<<Sem Registro>>"%></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= verifica_registro :campo => @dept.email, :mensagem =>"<<Sem Registro>>"%></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= verifica_registro :campo => @dept.description, :mensagem => "<<Sem Registro>>"  %></dd>
  <dt><strong><%= model_class.human_attribute_name(:dept_type_id) %>:</strong></dt>
  <dd><%= verifica_registro :campo => @dept.dept_type, :mensagem => "<<Sem Registro>>",  :atributo => "dept_type" %></dd>
  <dt><strong><%= model_class.human_attribute_name(:dept_id) %>:</strong></dt>
  <dd><%= verifica_registro :campo => @dept.dept, :mensagem => "<<Sem Registro>>",  :atributo => "name"  %></dd>
</dl>
<br/>
</div>
<!-- Botões Para Equipamentos, Endereço e Telefones -->
<%= link_to dept_dept_addresses_path(@dept), :class => "btn" do %>
    <i class="icon-home"></i> Endereço
<% end %>
<%= link_to dept_dept_telephones_path(@dept), :class => "btn" do %>
    <i class="icon-phone"></i> Telefones
<% end %>
<%= link_to dept_teaching_equipaments_path(@dept), :class => "btn" do %>
    <i class="icon-hdd"></i> Equipamentos
<% end %>
<!-- Fim -->

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              depts_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_dept_path(@dept), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              dept_path(@dept),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>


</div>
