<h1>Listing provenance_areas</h1>

<table>
  <tr>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @provenance_areas.each do |provenance_area| %>
  <tr>
    <td><%= provenance_area.description %></td>
    <td><%= link_to 'Show', provenance_area %></td>
    <td><%= link_to 'Edit', edit_provenance_area_path(provenance_area) %></td>
    <td><%= link_to 'Destroy', provenance_area, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Provenance area', new_provenance_area_path %>
