<%= form_for(@registration_status) do |f| %>
  <% if @registration_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registration_status.errors.count, "error") %> prohibited this registration_status from being saved:</h2>

      <ul>
      <% @registration_status.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :is_attending %><br />
    <%= f.check_box :is_attending %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
