<h1>Listing registration_statuses</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Is attending</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @registration_statuses.each do |registration_status| %>
  <tr>
    <td><%= registration_status.description %></td>
    <td><%= registration_status.is_attending %></td>
    <td><%= link_to 'Show', registration_status %></td>
    <td><%= link_to 'Edit', edit_registration_status_path(registration_status) %></td>
    <td><%= link_to 'Destroy', registration_status, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Registration status', new_registration_status_path %>
