<%= form_for([@person, @person_address]) do |f| %>
  <% if @person_address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person_address.errors.count, "error") %> prohibited this person_address from being saved:</h2>

      <ul>
      <% @person_address.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h3><%= Person.find(params[:person_id]).name %></h3><br />
    <%= f.hidden_field :person_id, :value => params[:person_id] %>
  </div>

  <div class="field">
    <%= f.label :street_type %><br />
    <%= f.collection_select :street_type_id, StreetType.find(:all) , :id, :description, :prompt => "Select a Street" %>
  </div>



    <!-- País Cidade e Estado -->
  <div class="span3" id="addressCountry">
    <%= f.label :country_id, :class => 'control-label' %>
    <%= render :partial =>'country' %>
  </div>
  <div class="span3">

  <%= f.label :state_id, :class => 'control-label' %>
    <div class="controls"  id="addressStates">
	   <%= render :partial => 'states'%>
    </div>
  </div>

  <div class="span3">
  <%= f.label :city_id, :class => 'control-label' %>
    <div class="controls"  id="addressCities">
	   <%= render :partial => 'cities'  %>
    </div>
  </div>

   <!-- Fim -->



  <div class="field">
    <%= f.label :street_name %><br />
    <%= f.text_field :street_name %>
  </div>
  <div class="field">
    <%= f.label :complement %><br />
    <%= f.text_field :complement %>
  </div>
  <div class="field">
    <%= f.label :post_office_box %><br />
    <%= f.text_field :post_office_box %>
  </div>
  <div class="field">
    <%= f.label :neighborhood %><br />
    <%= f.text_field :neighborhood %>
  </div>
  <div class="field">
    <%= f.label :zip_code %><br />
    <%= f.number_field :zip_code %>
  </div>
  <div class="field">
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :provenance_area %><br />
    <%= f.collection_select :provenance_area_id, ProvenanceArea.find(:all) , :id, :description, :prompt => "Select a Provenance Area" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
