<h1>Listing person_addresses</h1>
<h3><%= @person.name %></h3>
<table>
  <tr>
    <th>Street name</th>
    <th>City</th>
    <th>Complement</th>
    <th>Post office box</th>
    <th>Neighborhood</th>
    <th>Zip code</th>
    <th>Number</th>
    <th>Provenance area</th>
    <th>Street type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @person_addresses.each do |person_address| %>
  <tr>
    <td><%= person_address.street_name %></td>
    <td><%= person_address.city.name %></td>
    <td><%= person_address.complement %></td>
    <td><%= person_address.post_office_box %></td>
    <td><%= person_address.neighborhood %></td>
    <td><%= person_address.zip_code %></td>
    <td><%= person_address.number %></td>
    <td><%= person_address.provenance_area.description %></td>
    <td><%= person_address.street_type.description %></td>
    <td><%= link_to 'Show', [@person, person_address] %></td>
    <td><%= link_to 'Edit', edit_person_person_address_path(:id => person_address) %></td>
    <td><%= link_to 'Destroy', [@person, person_address], :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<% if !@person_addresses.exists? %>
    <%= link_to 'New Person address', new_person_person_address_path %>
<% else %>
    <!-- <td><%= link_to 'Edit Person address', edit_person_person_address_path(@person,@person_addresses[0]) %></td> -->
<%end%>