<p id="notice"><%= notice %></p>

<p>
  <b>Street type:</b>
  <%= @person_address.street_type %>
</p>

<p>
  <b>City:</b>
  <%= @person_address.city %>
</p>

<p>
  <b>Street name:</b>
  <%= @person_address.street_name %>
</p>

<p>
  <b>Complement:</b>
  <%= @person_address.complement %>
</p>

<p>
  <b>Post office box:</b>
  <%= @person_address.post_office_box %>
</p>

<p>
  <b>Neighborhood:</b>
  <%= @person_address.neighborhood %>
</p>

<p>
  <b>Zip code:</b>
  <%= @person_address.zip_code %>
</p>

<p>
  <b>Number:</b>
  <%= @person_address.number %>
</p>

<p>
  <b>Provenance area:</b>
  <%= @person_address.provenance_area %>
</p>

<p>
  <b>Person:</b>
  <%= @person_address.person %>
</p>


<%= link_to 'Edit', edit_person_person_address_path %> |
<%= link_to 'Back', person_person_addresses_path %>
