<%= form_for @class_season, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :year, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :year, :class => 'number_field', :id => "year" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :number, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :number, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :start_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :start_at, :class => 'datepicker_class', :id => "date", :style => "width:80px" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :end_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :end_at, :class => 'datepicker_class', :id => "date", :style => "width:80px", :include_blank => true %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :class_season_type_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :class_season_type_id, ClassSeasonType.all, :id, :description, {:class => 'number_field', :prompt => true} %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :dept_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :dept_id, Dept.all, :id, :name, {:class => 'number_field', :prompt => true} %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                class_seasons_path, :class => 'btn' %>
  </div>
<% end %>
