<%= form_for @course_matrix_academic_rule, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :course_matrix_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :course_matrix_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :academic_rule_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :academic_rule_id, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                course_matrix_academic_rules_path, :class => 'btn' %>
  </div>
<% end %>
