<%- model_class = CourseMatrixAcademicRule.new.class -%>
<div class="page-header">
  <h1><i class='icon-th-list'></i> <%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
  <h2><%= @matrix.model_id_and_course_name%></h2>
</div>
<h3>Regras associadas</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:academic_rule_id) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @course_matrix_academic_rules.each do |course_matrix_academic_rule| %>
      <tr>
        <td><%= course_matrix_academic_rule.academic_rule.academic_rule_type.rule %> <%= course_matrix_academic_rule.academic_rule.operator %> <%= course_matrix_academic_rule.academic_rule.value %>%</td>
        <td>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      course_matrix_course_matrix_academic_rule_path(:id => course_matrix_academic_rule.id),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Deseja realmente excluir?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Regras disponíveis para associação:</h3>
<%= form_tag register_rules_course_matrix_course_matrix_academic_rules_path, :method => :put do %>
	<%if !@academic_rules.blank? %>
			<table>
			  <tbody>
			    <% @academic_rules.each do |rule| %>
			      <tr>
			        <td><%= check_box_tag "academic_rule_ids[]", rule.id %> <%= rule.id %> - <%= rule.academic_rule_type.rule %> <%= rule.operator %> <%= rule.value %>%</td>
			      </tr>
			    <% end %>

			  </tbody>
			</table>
	<% else %>
	<h5>Nenhuma regra disponível para vinculação com a matriz</h5>
	<%end%>
	
<div class="form-actions">	
  <%= submit_tag "Vincular regras", :class => 'btn btn-primary btn-large' unless @academic_rules.blank? %></td>
  <%= link_to "<i class='icon-undo'></i> ".html_safe + t('.back', :default => t("helpers.links.back")), course_matrix_path(@matrix), :class => 'btn btn-large'  %>
</div>
<% end %>