<%- model_class = @course_matrix_academic_rule.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:course_matrix_id) %>:</strong></dt>
  <dd><%= @course_matrix_academic_rule.course_matrix_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:academic_rule_id) %>:</strong></dt>
  <dd><%= @course_matrix_academic_rule.academic_rule_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              course_matrix_academic_rules_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_course_matrix_academic_rule_path(@course_matrix_academic_rule), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              course_matrix_academic_rule_path(@course_matrix_academic_rule),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => t("controller_message.delete_confirm"))),
              :class => 'btn btn-danger' %>
</div>
