<h1>Listing class_times</h1>

<table>
  <tr>
    <th>Started at</th>
    <th>Ended at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @class_times.each do |class_time| %>
  <tr>
    <td><%= class_time.started_at %></td>
    <td><%= class_time.ended_at %></td>
    <td><%= link_to 'Show', class_time %></td>
    <td><%= link_to 'Edit', edit_class_time_path(class_time) %></td>
    <td><%= link_to 'Destroy', class_time, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Class time', new_class_time_path %>
