<%= form_for @school_class, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :identifier, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :identifier, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :period, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :period, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :matrix_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.grouped_collection_select :matrix_id, Course.order(:name), :course_matrices, :name, :id, :model_custom_name, :prompt => "...Selecione..." %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :class_season_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :class_season_id, ClassSeason.find(:all), :id, :model_custom_name, :prompt => "...Selecione..." %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :shift_type_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :shift_type_id, ShiftType.find(:all), :id, :description, :prompt => "...Selecione..." %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :opening_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :opening_at, :class => 'date_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :closing_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :closing_at, :class => 'date_select', :include_blank => true %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                school_classes_path, :class => 'btn' %>
  </div>
<% end %>
