<%= form_for @school_class, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :identifier, :class => 'control-label'%>
    <div class="controls">
      <%= f.text_field :identifier, :class => 'text_field', :placeholder => "Criado pelo sistema", :disabled => true  %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :period, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :period, :class => 'number_field', :style => "width:60px" %><i style="font-size:12px">(da turma em curso)</i>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :matrix_id, :class => 'control-label' %>
    <div class="controls">
    	<% options = option_groups_from_collection_for_select(Course.order(:name).all, :course_matrices, :name, :id, :model_custom_name, (!@school_class.matrix_id.blank? ? @school_class.matrix_id : "")) %>
   		<%= f.select(:matrix_id, options, {:include_blank => "...Selecione..."}, {:style => "width: 500px"} ) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :class_season_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :class_season_id, ClassSeason.order("start_at DESC"), :id, :model_custom_name, {:prompt => "...Selecione..."}, {:style => "width: 500px"}%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :shift_type_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :shift_type_id, ShiftType.find(:all), :id, :description, :prompt => "...Selecione..." %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :opening_at, :class => 'control-label' %>
    <div class="controls">
	   <%= f.text_field :opening_at, :class => 'datepicker_class', :include_blank => true, :style => "width:80px", :value => @school_class.opening_at.blank? ? nil : @school_class.opening_at.strftime("%d/%m/%Y") %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :closing_at, :class => 'control-label' %>
    <div class="controls">
	   <%= f.text_field :closing_at, :class => 'datepicker_class', :include_blank => true, :style => "width:80px", :value => @school_class.closing_at.blank? ? nil : @school_class.closing_at.strftime("%d/%m/%Y") %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                school_classes_path, :class => 'btn' %>
  </div>
<% end %>
