<%= form_for(@school_class) do |f| %>
  <% if @school_class.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@school_class.errors.count, "error") %> prohibited this school_class from being saved:</h2>

      <ul>
      <% @school_class.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :identifier %><br />
    <%= f.text_field :identifier %>
  </div>
  <div class="field">
    <%= f.label :period %><br />
    <%= f.number_field :period %>
  </div>
  <div class="field">
    <%= f.label :matrix %><br />
    <%= f.text_field :matrix %>
  </div>
  <div class="field">
    <%= f.label :class_season %><br />
    <%= f.text_field :class_season %>
  </div>
  <div class="field">
    <%= f.label :shift_type %><br />
    <%= f.text_field :shift_type %>
  </div>
  <div class="field">
    <%= f.label :opening_at %><br />
    <%= f.date_select :opening_at %>
  </div>
  <div class="field">
    <%= f.label :closing_at %><br />
    <%= f.date_select :closing_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
