<%- model_class = SchoolClass.new.class -%>
<div class="page-header">
  <h1><i class="icon-group"></i> <%=t '.title', :default => model_class.model_name.human.pluralize %>
	<%= form_tag school_classes_path, :method => :get, :class => 'form-search pull-right' do %>
	    <%= text_field_tag :search, params[:search], :placeholder => "Pesquisar...", :class => 'search-query' %>
		<button type="submit" class="btn">
		  <i class='icon-search'></i> Ok
		</button>
	<% end %>
	</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><small><%= model_class.human_attribute_name(:id) %><small></th>
      <th><small><%= model_class.human_attribute_name(:identifier) %><small></th>
      <th><small><%= model_class.human_attribute_name(:period) %><small></th>
      <th><small><%= model_class.human_attribute_name(:matrix_id) %><small></th>
      <th><small><%= model_class.human_attribute_name(:class_season_id) %><small></th>
      <th><small><%= model_class.human_attribute_name(:discipline_classes) %><small></th>
      <th><small><%= model_class.human_attribute_name(:opening_at) %><small></th>
      <th><small><%= model_class.human_attribute_name(:closing_at) %><small></th>
      <th><small><%=t '.actions', :default => t("helpers.actions") %><small></th>
    </tr>
  </thead>
  <tbody>
    <% @school_classes.each do |school_class| %>
      <tr>
        <td><small><%= link_to school_class.id, school_class_path(:id => school_class.identifier) %><small></td>
        <td><small><%= link_to school_class.identifier, school_class_path(:id => school_class.identifier) %><small></td>
        <td><small><%= school_class.period %><small></td>
        <td><small><%= school_class.course_matrix.try(:course_name) %><small></td>
        <td><small><%= school_class.class_season.try(:model_custom_name) %><small></td>
        <td><small><%= link_to "<i class='icon-pencil'></i> ".html_safe + school_class.discipline_classes.count.to_s, school_class_discipline_classes_path(school_class.identifier) %><small></td>
        <td><small><%=l school_class.opening_at if school_class.opening_at %><small></td>
        <td><small><%=l school_class.closing_at if school_class.closing_at %><small></td>
        <td><small>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_school_class_path(:id => school_class.identifier), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      school_class_path(school_class),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => t("controller_message.delete_confirm"))),
                      :class => 'btn btn-mini btn-danger' %>
        <small></td>
      </tr>
    <% end %>
  </tbody>
</table>
<center><small><%= will_paginate @school_classes %></small></center>
<%= link_to t('.new', :default => t("helpers.links.new")),
            (params[:course_matrix_id].blank? ? new_school_class_path : new_course_matrix_school_class_path(params[:course_matrix_id])),
            :class => 'btn btn-primary' %>
