<p id="notice"><%= notice %></p>

<p>
  <b>Techaxis:</b>
  <%= @techaxis.techaxis %>
</p>

<p>
  <b>Techaxis type:</b>
  <%= @techaxis.techaxis_type %>
</p>


<%= link_to 'Edit', edit_techaxis_path(@techaxis) %> |
<%= link_to 'Back', techaxes_path %>
