<div class="row">
		<center><h1>Acadêmico - IFB</h1></center>
		<br/>
	<div class="span3 well" style="margin-left: 38%;">
	<%= form_for(resource, :as => resource_name, :url => "/users/auth/ldap/callback",:html => { :class => 'form-vertical' } ) do |f| %>
	  	<fieldset class="fieldset span10">
			<legend><center>Autenticação</center></legend>
			<br/>
			<label for="username">Usuário: </label>

		     <div class="input-prepend">
			     <span class="add-on"><i class="icon-user"></i></span>
	             <%= text_field_tag :username, nil, :name => 'username', :placeholder => "matrícula/siape" %>
		     </div>

		     <label for="password">Senha:</label>
			  <div class="input-prepend"><span class="add-on"><i class="icon-lock"></i></span>
		       <%= password_field_tag :password, nil, :name => 'password', :placeholder => "senha" %>
		      </div>

		  <% if devise_mapping.rememberable? %>
	       <%= f.check_box :remember_me %> <small>Lembrar senha</small> <%= f.submit "Entrar", :class => "btn btn-primary" %>
		  <% end -%>

		</fieldset>

	
	<% end %>
	</div>
</div>