<%= form_for [@dept, @teaching_equipament], :html => { :class => 'form-horizontal' } do |f| %>
  <div class="field">
    <h2><i class="icon-sitemap"></i><%= Dept.find(params[:dept_id]).name %></h2><br />
    <%= f.hidden_field :dept_id, :value => params[:dept_id] %>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :arrival_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :arrival_date, :class => 'date_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :equipament_type_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :equipament_type_id, EquipamentType.find(:all) , :id, :description, :prompt => "Selecione um tipo" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :situation_teaching_equipament_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :situation_teaching_equipament_id, SituationTeachingEquipament.find(:all) , :id, :description, :prompt => "Selecione uma estado" %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                dept_teaching_equipaments_path, :class => 'btn' %>
  </div>
<% end %>
