<h1>Listing teaching_equipaments</h1>
<h3><%= @dept.name %></h3>
<table>
  <tr>
    <th>Description</th>
    <th>Arrival date</th>
    <th>Equipament type</th>
    <th>Situation teaching equipament</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @teaching_equipaments.each do |teaching_equipament| %>
  <tr>
    <td><%= teaching_equipament.description %></td>
    <td><%= teaching_equipament.arrival_date %></td>
    <td><%= teaching_equipament.equipament_type.description %></td>
    <td><%= teaching_equipament.situation_teaching_equipament.description %></td>
    <td><%= link_to 'Show', [@dept,teaching_equipament] %></td>
    <td><%= link_to 'Edit', edit_dept_teaching_equipament_path(:id=>teaching_equipament) %></td>
    <td><%= link_to 'Destroy', [@dept,teaching_equipament], :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Teaching equipament', new_dept_teaching_equipament_path %>
