<%- model_class = TeachingEquipament.new.class -%>
<div class="page-header">
  <div style="font-size: 24px;">
    <h1><i class="icon-hdd"></i> <%=t '.title', :default => model_class.model_name.human %></h1>
  </div>
   <h2><i class="icon-sitemap"></i><%= link_to @dept.name, dept_path(@dept) %></h2>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:arrival_date) %></th>
      <th><%= model_class.human_attribute_name(:equipament_type_id) %></th>
      <th><%= model_class.human_attribute_name(:situation_teaching_equipament_id) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @teaching_equipaments.each do |teaching_equipament| %>
      <tr>
        <td><%= link_to teaching_equipament.id, [@dept, teaching_equipament] %></td>
        <td><%= verifica_registro :campo => teaching_equipament.description, :mensagem => "<<Sem Registro>>" %></td>
        <td><%= verifica_registro :campo => teaching_equipament.arrival_date.strftime("%d/%m/%Y"), :mensagem => "<<Sem Registro>>" %></td>
        <td><%= verifica_registro :campo => teaching_equipament.equipament_type, :mensagem => "<<Sem Registro>>", :atributo => "description" %></td>
        <td><%= verifica_registro :campo => teaching_equipament.situation_teaching_equipament, :mensagem => "<<Sem Registro>>", :atributo => "description" %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_dept_teaching_equipament_path(:id => teaching_equipament), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      [@dept, teaching_equipament],
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => t("controller_message.delete_confirm"))),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_dept_teaching_equipament_path,
            :class => 'btn btn-primary' %>
