<%= form_for(@matrix_discipline_group) do |f| %>
  <% if @matrix_discipline_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@matrix_discipline_group.errors.count, "error") %> prohibited this matrix_discipline_group from being saved:</h2>

      <ul>
      <% @matrix_discipline_group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
