<h1>Listing matrix_discipline_groups</h1>

<table>
  <tr>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @matrix_discipline_groups.each do |matrix_discipline_group| %>
  <tr>
    <td><%= matrix_discipline_group.description %></td>
    <td><%= link_to 'Show', matrix_discipline_group %></td>
    <td><%= link_to 'Edit', edit_matrix_discipline_group_path(matrix_discipline_group) %></td>
    <td><%= link_to 'Destroy', matrix_discipline_group, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Matrix discipline group', new_matrix_discipline_group_path %>
