<%= form_for(@education_step) do |f| %>
  <% if @education_step.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@education_step.errors.count, "error") %> prohibited this education_step from being saved:</h2>

      <ul>
      <% @education_step.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :education_level %><br />
    <%= f.text_field :education_level %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
