<%= form_for @education_step, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :education_level_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :education_level_id, EducationLevel.find(:all, :order => "level"), :id, :level %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                education_steps_path, :class => 'btn' %>
  </div>
<% end %>
