<h1>Listing education_steps</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Education level</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @education_steps.each do |education_step| %>
  <tr>
    <td><%= education_step.description %></td>
    <td><%= education_step.education_level %></td>
    <td><%= link_to 'Show', education_step %></td>
    <td><%= link_to 'Edit', edit_education_step_path(education_step) %></td>
    <td><%= link_to 'Destroy', education_step, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Education step', new_education_step_path %>
