<%= form_for @course, :html => { :class => 'form-horizontal' } do |f| %>
<!-- Parte relacionada ao Ato Autorizativo -->
  <div class="control-group">
    <%= f.label :authorization_code, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :authorization_code, :class => 'text_field' %>
    </div>
  </div>
<!-- -->
  <div class="control-group">
    <%= f.label :code, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :code, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :nickname, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nickname, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :goal, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :goal, :class => 'text_area', :style => "width:500px" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :maxtime, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :maxtime, :class => 'number_field', :style => "width:60px" %><i style="font-size:12px">(Número de Períodos)</i>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :mintime, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :mintime, :class => 'number_field', :style => "width:60px" %><i style="font-size:12px">(Número de Períodos)</i>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :started_at, :class => 'control-label' %>
    <div class="controls" >
	  <%= f.text_field :started_at, :class => 'datepicker_class', :include_blank => true, :style => "width:80px", :value => @course.started_at.blank? ? nil : I18n.l (@course.started_at) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ended_at, :class => 'control-label' %>
    <div class="controls">
	   <%= f.text_field :ended_at, :class => 'datepicker_class', :include_blank => true, :style => "width:80px", :value => @course.ended_at.blank? ? nil : I18n.l (@course.ended_at) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :dept_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :dept_id, Dept.find(:all), :id, :name, :prompt => "...Selecione..." %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :registration_scheme_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :registration_scheme_id, RegistrationScheme.find(:all), :id, :description, :prompt => "...Selecione..." %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :class_season_type_id, :class => 'control-label' %>
    <div class="controls">
    <%= f.collection_select :class_season_type_id, ClassSeasonType.find(:all), :id, :description, :prompt => "...Selecione..." %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :learning_modality_id, :class => 'control-label' %>
    <div class="controls">
     <%= f.collection_select :learning_modality_id, LearningModality.find(:all), :id, :description, :prompt => "...Selecione..." %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :knowledge_area_id, :class => 'control-label' %>
    <div class="controls">
     <%= f.collection_select :knowledge_area_id, KnowledgeArea.find(:all), :id, :description, :prompt => "...Selecione..." %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :techaxes_id, :class => 'control-label' %>
    <div class="controls">
     <%= f.collection_select :techaxes_id, Techaxis.find(:all), :id, :techaxis, :prompt => "...Selecione..." %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :education_modality_id, :class => 'control-label' %>
    <div class="controls">
     <%= f.collection_select :education_modality_id, EducationModality.find(:all), :id, :description, :prompt => "...Selecione..." %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                courses_path, :class => 'btn' %>
  </div>
<% end %>
