<%= form_for @course, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :code, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :code, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :nickname, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nickname, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :goal, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :goal, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :maxtime, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :maxtime, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :mintime, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :mintime, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :started_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :started_at, :class => 'date_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ended_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :ended_at, :class => 'date_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :dept_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :dept_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :registration_scheme_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :registration_scheme_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :class_season_type_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :class_season_type_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :learning_modality_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :learning_modality_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :knowledge_area_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :knowledge_area_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :techaxes_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :techaxes_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :education_modality_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :education_modality_id, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                courses_path, :class => 'btn' %>
  </div>
<% end %>
