<%= form_for @matrix, :html => { :class => 'form-horizontal' } do |f| %>

<fieldset class="control-group">
<legend>Vigência<legend>
  <div class="control-group">
    <%= f.label :started_at, :class => 'control-label' %>
    <div class="controls">
	   <%= f.text_field :started_at, :class => 'datepicker_class',:readonly => "", :include_blank => true, :style => "width:80px", :value => @matrix.started_at.blank? ? nil : @matrix.started_at.strftime("%d.%m.%Y") %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ended_at, :class => 'control-label' %>
    <div class="controls">
	   <%= f.text_field :ended_at, :class => 'datepicker_class',:readonly => "", :include_blank => true, :style => "width:80px", :value => @matrix.ended_at.blank? ? nil : @matrix.ended_at.strftime("%d.%m.%Y") %>
    </div>
  </div>
</fieldset>
  <div class="control-group">
    <%= f.label :maxdisciplines, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :maxdisciplines, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :maxseasons, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :maxseasons, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :course_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :course_id, Course.find(:all, :order => :name), :id, :name, :prompt => "...Selecione..." %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :matrix_evaluation_type_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :matrix_evaluation_type_id, MatrixEvaluationType.find(:all), :id, :description, :prompt => "...Selecione..." %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :matrix_status_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :matrix_status_id, MatrixStatus.find(:all), :id, :description, :prompt => "...Selecione..." %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :class_season_type_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :class_season_type_id, ClassSeasonType.find(:all), :id, :description, :prompt => "...Selecione..." %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                course_matrices_path, :class => 'btn' %>
  </div>
<% end %>
