<%- model_class = @matrix.class -%>
<div class="page-header">
  <h1><i class="icon-table"></i> <%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:course_id) %>:</strong></dt>
  <dd><%= @matrix.course.try(:name) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:started_at) %>:</strong></dt>
  <dd><%=l @matrix.started_at if @matrix.started_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ended_at) %>:</strong></dt>
  <dd><%=l @matrix.ended_at if @matrix.ended_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:maxdisciplines) %>:</strong></dt>
  <dd><%= @matrix.maxdisciplines %></dd>
  <dt><strong><%= model_class.human_attribute_name(:maxseasons) %>:</strong></dt>
  <dd><%= @matrix.maxseasons %></dd>
  <dt><strong><%= model_class.human_attribute_name(:matrix_evaluation_type_id) %>:</strong></dt>
  <dd><%= @matrix.matrix_evaluation_type.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:matrix_status_id) %>:</strong></dt>
  <dd><%= @matrix.matrix_status.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:class_season_type_id) %>:</strong></dt>
  <dd><%= @matrix.class_season_type.description %></dd>
  <dd></dd>

</dl>

<div class="container">
<div class="span5">	
	<h2><%=link_to "<i class='icon-book'></i> Disciplinas".html_safe, course_matrix_matrix_disciplines_path(@matrix) %></h2>
		<%@matrix.matrix_disciplines.group_by(&:maxseasons).each do |maxseason, disciplines| %>
		 <dt>Período <%= maxseason %>:</dt>
		      <%disciplines.each do |discipline|%>
		       <dd><%= discipline.discipline.try(:name)%></dd>
		      <%end%>
	     <br/>
		<%end%>
</div>
<div class="span5">		
<h2><%=link_to "<i class='icon-calendar'></i> Grade Horária".html_safe, course_matrix_timetables_path(@matrix) %></h2>
 <%@matrix.timetables.each do | timetable |%>
   <dt><%= timetable.day_week.try(:description) %>:</dt>
<dd>
    <%timetable.timetable_class_times.each_with_index do |time, index|%>
     <%= time.class_time.try(:started_at) %> - <%= time.class_time.try(:ended_at) %> <%= '|' if index < (timetable.timetable_class_times.length - 1) %> 
    <%end%>
</dd>
   <br/>
 <%end%>
</div>


<br/>
</div>
<div class="form-actions">
  <%= link_to "<i class='icon-undo'></i> ".html_safe + t('.back', :default => t("helpers.links.back")), course_matrices_path, :class => 'btn btn-large'  %>
  <%= link_to "<i class='icon-edit'></i> ".html_safe + t('.edit', :default => t("helpers.links.edit")), edit_course_matrix_path(@matrix), :class => 'btn btn-large' %>
  <%= link_to "<i class='icon-trash'></i> ".html_safe + t('.destroy', :default => t("helpers.links.destroy")),
              course_matrix_path(@matrix),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger btn-large pull-right' %>
</div>