<h1>Listing discipline_types</h1>

<table>
  <tr>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @discipline_types.each do |discipline_type| %>
  <tr>
    <td><%= discipline_type.description %></td>
    <td><%= link_to 'Show', discipline_type %></td>
    <td><%= link_to 'Edit', edit_discipline_type_path(discipline_type) %></td>
    <td><%= link_to 'Destroy', discipline_type, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Discipline type', new_discipline_type_path %>
