<%= form_for(@shift_type) do |f| %>
  <% if @shift_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shift_type.errors.count, "erro") %> proibiu:</h2>

      <ul>
      <% @shift_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
