<p id="notice"><%= notice %></p>

<p>
  <b>Gender:</b>
  <%= @gender.gender %>
</p>

<p>
  <b>Acronym:</b>
  <%= @gender.acronym %>
</p>


<%= link_to 'Edit', edit_gender_path(@gender) %> |
<%= link_to 'Back', genders_path %>
