
 <% containerSpan = "span12" %>
 <% containerSpan = "span10" if user_signed_in? %>

<% fullpath = "#{request.fullpath}"[1..-1].split('/')%>

<!DOCTYPE html>
<html>
<head>
  <title>Acadêmico Rails</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <% if browser.ie9? %>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <% end %>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<% if Rails.env != 'production'%>
      <center class="alert alert-block"><h4><%= h_environment_footer_text %></h4></center>
    <% end %>
	
    <!-- Menu superior -->
	<div class="navbar">
	      <div class="navbar-inner">
	        <div class="container-fluid">
	          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </a>
	          <a class="brand" href=<%= root_path %> >@cadêmico - IFB</a>
	           <%if user_signed_in? %>
		          <div class="btn-group pull-right">
		            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
		              <i class="icon-user"></i> <%= "#{current_user.firstname}" %>
		              <span class="caret"></span>
		            </a>
		            <ul class="dropdown-menu">
		              <li><a href="#">Profile</a></li>
		              <li class="divider"></li>
		              <li><a href="#"> <%= link_to('Sair', destroy_user_session_path) %>  </a></li>
		            </ul>
		          </div>

	          <div class="nav-collapse">
	            <ul class="nav">
					<%= top_menu_by_profile %>
	            </ul>
	          </div><!--/.nav-collapse -->
		      <%end%>
		
	        </div>
	      </div>    
	</div>
	<!-- -->

	    <div class="container-fluid">
		
	      <div class="row-fluid">
		   <%if user_signed_in? %>
		    <!-- Menu Esquerdo -->
		    <% if !fullpath.blank? %>
		        <div class="span2">
		          <div class="well sidebar-nav">
		            <ul class="nav nav-tabs nav-stacked">
			
			          <% if fullpath.include?('professor') %>
		                  <li class="nav-header">Espaço do Professor</li>
			              <li class="<%= ('school_classes' == params[:action] ? 'active' : '')%>"><a href=<%= teacher_school_classes_teacher_index_path %> > <i class="icon-group"></i><small>Turmas / Componentes Curriculares</small></a></li>
	                  <%end%>
	
			 		  <% if fullpath.include?('registro_academico') %>
		                  <li class="nav-header"><small>Infraestrutura</small></li>
			              <li class="<%= ('depts' == params[:controller] ? 'active' : '')%>"><a href=<%= depts_path%> ><i class="icon-sitemap"></i><small>Estrutura Organizacional</small></a></li>
				          <li class="<%= ('people' == params[:controller] ? 'active' : '')%>"><a href=<%= people_path%> ><i class="icon-user"></i><small>Pessoas</small></a></li>                  							 
			
			              <li class="nav-header"><small>Cursos e Ciclos</small></li>
		             	  <li class="<%= ('courses' == params[:controller] ? 'active' : '')%>"><a href=<%= courses_path%> ><i class="icon-book"></i><small>Cursos & Disciplinas</small></a></li>
		             	  <li class="<%= ('class_seasons' == params[:controller] ? 'active' : '')%>"><a href=<%= class_seasons_path%> ><i class="icon-calendar"></i><small>Período Letivo</small></a></li>
		             	  <li class="<%= ('course_vacancies' == params[:controller] ? 'active' : '')%>"><a href=<%= course_vacancies_path%> ><i class="icon-bullhorn"></i><small>Oferta de Vagas</small></a></li>
				          <li class="<%= ('academic_rules' == params[:controller] ? 'active' : '')%>"><a href=<%= academic_rules_path%> ><i class="icon-th-list"></i><small>Regras Acadêmicas</small></a></li>
		                  <li class="<%= ('course_matrices' == params[:controller] ? 'active' : '')%>"><a href=<%= course_matrices_path%> ><i class="icon-table"></i><small>Matriz Curricular</small></a></li>
		                  <li class="<%= ('school_classes' == params[:controller] ? 'active' : '')%>"><a href=<%= school_classes_path%> ><i class="icon-group"></i><small>Turmas</small></a></li>
		                  <li class="<%= ('discipline_classes' == params[:controller] ? 'active' : '')%>"><a href=<%= discipline_classes_path%> ><i class="icon-pencil"></i><small>Componentes Curriculares & Aulas</small></a></li>
		                  <li class="<%= ('registrations' == params[:controller] ? 'active' : '')%>"><a href=<%= registrations_path%> ><i class="icon-barcode"></i><small>Matrículas</small></a></li>

		              <%end%>

	                  <% if fullpath.include?('configuracoes') %>
		                  <li class="nav-header"><small>Acesso</small></li>
			              <li class="<%= ('users' == params[:controller] ? 'active' : '')%>"><a href=<%= user_roles_path %> > <i class="icon-group"></i><small>Usuários/Perfis</small></a></li>
		                  <%= menu_config %>
	                  <%end%>
	                   
		            </ul>
		          </div><!--/.well -->
		        </div><!--/span-->
 	    	 <%end%>
 
		   <%end%>

            <!-- Area Central -->
        	<div class=<%="#{containerSpan}"%>>
	         
            	<%= render_breadcrumbs %>
				
				<%= bootstrap_flash %>
						
				<!-- Exibição dos erros -->
				<%= render :partial => 'layouts/error_messages' %> 
				<!-- -->	
				
	            <div class="hero-unit">		
	             <%= yield %>
	            </div><!--/span-->
	         </div><!--/row-->


	        </div><!--/span-->
	      </div><!--/row-->
	      
	      <hr>

	      <footer>
	        <p><center>&copy; <%= link_to 'Instituto Federal de Brasília', 'http://www.ifb.edu.br'%> </center></p>
	      </footer>

	    </div><!--/.fluid-container-->

</body>
</html>
