<% if (params[:action] == 'edit' || params[:action] == 'update') %>
 <h2>Turma: <%= @discipline_class.try(:school_class_identifier) %> - <%= @discipline_class.try(:course_name) %> </h2>
 <h2>Classe: <%= @discipline_class.try(:code) %> - <%= @discipline_class.try(:discipline_name) %> </h2>
<% end %>

<%= form_for @discipline_class, :html => { :class => 'form-horizontal' } do |f| %>
  <%if !(action_name == "edit" or action_name == "update") %>
	<div class="control-group">
	  <%= f.label :school_class_id, :class => 'control-label' %>
	  <div class="controls">
	  <%= select_tag 'discipline_class[school_class_id]', options_from_collection_for_select(SchoolClass.find(:all), "id", "model_custom_name",SchoolClass.find_by_identifier(params[:school_class_id]).try(:id)), :class => 'select_field', :prompt => "...Selecione...", :class => 'field span8', :id => "discipline_class_school_class_id", :disabled => false %>
	  </div>
	</div>
	<div class="control-group">
	  <%= f.label :matrix_discipline_id, :class => 'control-label' %>
	    <div class="controls"  id="turmaDisciplinas"> 
		     <%= render :partial => 'disciplines'%>
	    </div>
	</div>
 <%end%>

  <div class="control-group">
    <%= f.label :code, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :code, :class => 'text_field', :class => 'field span3'  %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :vancancies, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :vancancies, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :started_at, :class => 'control-label' %>
    <div class="controls">
      <% @discipline_class.started_at = @discipline_class.started_at.try(:strftime,"%d.%m.%Y") %>
      <%= f.text_field :started_at, :class => 'datepicker_class', :style => "width:80px" %>
    </div>
  </div>
 <%if !(action_name == "new" or action_name == "create") %>
  <div class="control-group">
    <%= f.label :ending_at, :class => 'control-label' %>
    <div class="controls">
      <% @discipline_class.ending_at = @discipline_class.ending_at.strftime("%d.%m.%Y") %>
      <%= f.text_field :ending_at, :class => 'datepicker_class', :style => "width:80px" , :include_blank => true %>
    </div>
  </div>
 <%end%>
  <div class="control-group">
    <%= f.label :timetable_started_at, :class => 'control-label' %>
    <div class="controls">
      <% @discipline_class.timetable_started_at = @discipline_class.timetable_started_at.try(:strftime, "%d.%m.%Y") %>
      <%= f.text_field :timetable_started_at, :class => 'datepicker_class', :style => "width:80px", :include_blank => true %>
    </div>
  </div>


	<div class="form-actions">
	  <%= f.submit nil, :class => 'btn btn-primary' %>
	  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
	              discipline_classes_path, :class => 'btn' %>
	</div>
	

<% end %>
