<%= form_for [@school_class, @discipline_class], :html => { :class => 'form-horizontal' } do |f| %>
<h2><%=  @school_class.model_custom_name %></h2>
	<div class="control-group">
	  <%= f.label :matrix_discipline_id, :class => 'control-label' %>
	    <div class="controls"  id="turmaDisciplinas"> 
		     <%= select_tag 'discipline_class[matrix_discipline_id]', options_from_collection_for_select(@school_class.course_matrix.matrix_disciplines, "id", "discipline_name"), :class => 'select_field', :prompt => "...Selecione...", :class => 'field span8' %>
	    </div>
	</div>

  <div class="control-group">
    <%= f.label :code, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :code, :class => 'text_field', :class => 'field span3'  %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :vancancies, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :vancancies, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :started_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :started_at, :class => 'date_select' %>
    </div>
  </div>

<%if !(action_name == "new" or action_name == "create") %>
 <div class="control-group">	
    <%= f.label :ending_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :ending_at, :class => 'date_select', :include_blank => true %>
    </div>	  	
  </div>
<% end %>

  <div class="control-group">
    <%= f.label :timetable_started_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :timetable_started_at, :class => 'date_select', :include_blank => true %>
    </div>
  </div>

  <div class="form-actions">
	<%= f.submit nil, :class => 'btn btn-primary' %>
	<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
	              school_class_discipline_classes_path, :class => 'btn' %>
  </div>
<% end %>
